.main-box {
  display: flex;
  justify-content: center;
  text-align: center;
}

.box1 {
  position: static;
  width: 300px;
  margin-top: 50px;
  border: 2px #bec3c0 solid;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.box1 img {
  width: 100%;
  height: 40%;
}

.text {
  padding: 20px;
}
