.about {
  padding: 100px 400px 100px 100px;
}

footer {
 
   bottom:0;
   width:100%;
   height:60px;
}
h2{
  margin-top: 20px;
  margin-bottom: 20px;
}

p{
  margin-top: 20px;
  margin-bottom: 20px;
}